@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');


.main-header {
	background-color: rgb(193, 225, 232);
	background-blend-mode: screen; /*blends the color of image with backgound*/
	background-size: cover; /*resizes according to screen size*/
	padding: 1%;
	overflow: hidden;
}

.main-nav {
	font-size: 2em;
	font-weight: lighter;
	text-align: center;
	font-family: 'VT323', monospace;
}

.nav ul {
	margin: 0;
}

.nav li {
	display: inline;
}

.nav a {
	DISPLAY: inline; /*Inline blocks create horizontal with padding around all sides*/
	padding: .5em; /*em is a constant of size fontsize*/
	color: black;
	text-decoration: none;
}

.center {
	margin-left: 3%;
    margin-top: 120px;
	padding-right: 5%;
	float: left;
	display: inline;
	text-align: left;
}


.left img {
    width: 150px;
    height: 150px;
}
.left {
	float: left;
	margin-left: 1%;
}

.right {
    margin-top: 120px;
    float: right;
    margin-right: 1%;
}

.nav li:hover {
	background-color: rgba(255,255,255, .3);
}