@import url('https://fonts.googleapis.com/css?family=Montaga|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

*{
    box-sizing: border-box;
    color: rgb(134, 133, 133);
}

body {
    background-color: mintcream;
}


.search-home{
    background-color: lightsteelblue;
    padding: 10%;
}

.company-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
}

.company-name-large{
    font-size:7em;
}

.content-section{
    margin: 1em;
}

.container{
    max-width: 900px; /*locks in the text in container. Stops wrapping over a certain size.*/
    margin: 0 auto;
    padding: 0 1.5em; /*0 on top and bottom 1.5 on sides*/
}

.section-header{
    font-family: "Montaga";
    font-weight: normal;
    color:#333;
    text-align: center;
    font-size: 2.5em; 
}
#message_bad {
    font-size: 16pt;
    color: red;
}
#message_good {
    font-size: 16pt;
    color: darkgreen;
}
#message_bad_account{
    font-size:12pt;
    color:red;
}
.about-band-image{
    float:left;
    height:150px;
    width:300px;
    margin:25px;
    border-radius: 50%;
}

.result_container strong{
    font-size:30pt;
}

.result_right {
     font-size: 19px;
     margin: 5px;
     position: relative;
     bottom: 100px;
     left: 220px;
     text-overflow:ellipsis;
}

.result_container {
    float: none;
    padding: 1%;
    background-color: lightgray;

}
.result_container button {
    background-color: rgb(23,66,108);
    color: white;
    padding: 15px;
    position: relative;
    bottom: 30px;

    font-size: 20px;
    border: none;
    cursor: pointer;
    float: right;
    width: 20%;
    border-radius: 10px;
    font-family: VT323, monospace;
}

.result_left img {
    clear: left;
    width: 200px;
    height: 100px;
}


input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    font-family: VT323, monospace;
    background-color: white;
    background-size: 20px, 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

input[type=password] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    font-family: VT323, monospace;
    background-color: white;
    background-image: url('Images/searchicon.png');
    background-size: 20px, 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.main-footer {
 
    bottom: 0;
    margin-top: 25%;
    background-color: rgb(193, 225, 232);
    color: white;
}
.main-footer-container{
    display:flex;
    align-items: center;

}
.main-footer-container ul{
    flex-grow:1;
    text-align: end;
}
.footer-nav li{
    padding: 0 .5em;
}

.footer-nav img{
    width:30px;
    height:30px;
}

/* BUTTONS */
.submit {
    background-color: rgb(23,66,108);
    color: white;
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    float: right;
    width: 20%;
    border-radius: 10px;
    font-family: VT323, monospace;
}

/* LOGIN PAGE */

.login {
    padding: 5%;
    padding-bottom: 10%;
    background-color: lightsteelblue;
    margin-bottom: 100px;
    font-family: VT323, monospace;
}

.create-account {
    padding: 5%;
    background-color: lightsteelblue;
    padding-bottom: 13%;
    font-family: VT323, monospace;
}
